node-red-flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f959b28eea87127",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.2.10",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "15ca761ec07f5dfc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 120,
                "sy": 75,
                "gx": 20,
                "gy": 20,
                "cx": 10,
                "cy": 10,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bf6e15a118745a0c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e4a595806620d4d",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "bf6e15a118745a0c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f9382ad3e12a37f",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "bf6e15a118745a0c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3f86dc7d3a4fd8b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Sensor Subscriber",
        "topic": "sensor/Sensor_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f959b28eea87127",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "35bb7b9fbd611c12"
            ]
        ]
    },
    {
        "id": "bbf14288cb71f44b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature Gauge",
        "group": "0e4a595806620d4d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "{{msg.payload.unit}}",
        "format": "{{msg.payload.value}}",
        "min": "10",
        "max": "55",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d894b73e19bc955",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature Chart",
        "group": "0e4a595806620d4d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9aae4bd2dc020bcf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extract value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "0d894b73e19bc955"
            ]
        ]
    },
    {
        "id": "f0c734c62406d25b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity Gauge",
        "group": "3f9382ad3e12a37f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "{{msg.payload.unit}}",
        "format": "{{msg.payload.value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "e35a8ca8dc55019a",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity Chart",
        "group": "3f9382ad3e12a37f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae3c8adca9eb455",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extract value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 240,
        "wires": [
            [
                "e35a8ca8dc55019a"
            ]
        ]
    },
    {
        "id": "ab5eefc095a70de0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extract Temperature Data",
        "func": "let data = msg.payload.temperature;\n\nmsg.payload = {\n    value: data.value,\n    unit: data.unit\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "bbf14288cb71f44b",
                "9aae4bd2dc020bcf"
            ]
        ]
    },
    {
        "id": "3d0920f6898d8f06",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extract Humidity Data",
        "func": "let data = msg.payload.humidity;\n\nmsg.payload = {\n    value: data.value,\n    unit: data.unit\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "f0c734c62406d25b",
                "2ae3c8adca9eb455"
            ]
        ]
    },
    {
        "id": "35bb7b9fbd611c12",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "ab5eefc095a70de0",
                "3d0920f6898d8f06"
            ]
        ]
    }
]